# .env.example

# Django settings
SECRET_KEY="your-secret-key"
ALLOWED_HOST=your-domain-or-ip

# Database settings
DATABASE_NAME="your-db-name"
DATABASE_USER="your-db-user"
DATABASE_PASSWORD="your-db-password"
DATABASE_HOST="your-db-host"

# Redis
REDIS_URL="redis://your-redis-host:6379"

# API Key
VALID_API_KEYS="your-api-key"

# # AWS S3 settings
# AWS_ACCESS_KEY_ID="your-aws-access-key-id"
# AWS_SECRET_ACCESS_KEY="your-aws-secret-access-key"
# AWS_STORAGE_BUCKET_NAME="your-bucket-name"
# AWS_S3_REGION_NAME="your-region"